.now{
    text-decoration: none;
    color: rgb(226, 9, 9);
    text-transform: capitalize;
    
}
ul{
    list-style-type: none;
    display: flex;
    padding-left: 0%;
}
li{
    padding-right: 20%;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a{
    /* cursor: pointer; */
    text-decoration: none;
}
header{
    background-color: aqua;
    /* font-size: 20px; */
}
body{
    background-color: aqua;
}
img{
        display: block;  
        margin-left: auto;  
        margin-right: auto;  
        padding: 2%; 
  
}
form{
    
}